body {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}
/* Header */
header{
    background-color: #eefdff;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #141450;
}
header p {
    margin: 0;
    color: #141450;
    letter-spacing: .5px;
}
/* nav stuff*/
nav {
    background-color: #141450;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color:white;
    font-weight: 700;
    padding: 100px;
    display:block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: white;
    color: #d59903;
}
nav a:hover {
    background-color: white;
    color: #FF69B4;
    
    }
    nav li.active2 a {
        background-color: white;
        color: #d59903;
    }

    header{
        
        padding: 1rem 2vw;
}
/* Main */
main {
    padding: 1rem 2vw;
}
main h1 {
    color: hsl(43, 78%, 47%); 
}
main h2 {
    color: #d59903;
    margin-bottom: .2rem;
}
main p {
    
    
    color: #141450;
    font-weight: 200;
}
main ul {
    list-style-type: circle;
    color: #141450;
    margin: 0 0 .3rem 0;
    padding: .5rem 6vw;
    background-color: #eefdff;
    border-radius: .5rem;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
}
main address {
    font-style: normal;
    background-color: #eefdff;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #bff6fc;
    border-radius: .5rem;
}
main a {
    color: #141450;

}
main a:hover {
    color: #d59903;
}
/* Footer Stuff */
footer {
    background-color: #141450;
    text-align: center;
    color: #eefdff;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #eefdff;
}
footer a:hover {
    color: #d59903;
}